@use 'sass:map';
@use 'functions' as *;
@use '../vars' as *;

:root {
  // Colours
  --colour-sky-blue-500: #51dbea;

  --colour-green-500: #c7f3ad;

  --colour-blue-grey-500: #b4c3cd;

  --colour-slate-500: #4b5763;

  --colour-neutral-100: #f0f5f7;
  --colour-neutral-200: #c9c9c9;
  --colour-neutral-300: #b4c3cd;
  --colour-neutral-400: #566470;
  --colour-neutral-500: #4b5763;
  --colour-neutral-600: #2d2e3c;
  --colour-neutral-700: #252837;
  --colour-neutral-800: #1c1d2c;

  // Typography
  --font-family-sans: 'Zalando Sans', sans-serif;
  --font-family-serif: 'Libre Caslon Text', serif;

  @each $key, $value in $font-size {
    --font-size-#{$key}: #{$value};
  }

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  @each $key, $value in $line-height {
    --line-height-#{$key}: #{$value};
  }

  @each $key, $value in $letter-spacing {
    --letter-spacing-#{$key}: #{$value};
  }

  // Borders
  --border-width-s: 1px;
  --border-width-m: 2px;
  --border-width-l: 3px;

  --border-radius-s: 8px;
  --border-radius-m: 16px;
  --border-radius-l: 24px;
  --border-radius-xl: 32px;
  --border-radius-2xl: 56px;

  // Spacing
  @each $key, $value in $spacing {
    --spacing-#{$key}: #{fluid(
        map.get($value, 'mobile'),
        map.get($value, 'desktop')
      )};
  }

  @each $key, $value in $spacing-pairs {
    --spacing-#{$key}: #{fluid(
        map.get($value, 'mobile'),
        map.get($value, 'desktop')
      )};
  }
}
