@use 'functions' as *;

:root {
  // Colours
  --colour-sky-blue-500: #51dbea;

  --colour-green-500: #c7f3ad;

  --colour-blue-grey-500: #b4c3cd;

  --colour-slate-500: #4b5763;

  --colour-neutral-100: #f0f5f7;
  --colour-neutral-200: #c9c9c9;
  --colour-neutral-300: #b4c3cd;
  --colour-neutral-400: #566470;
  --colour-neutral-500: #2d2e3c;
  --colour-neutral-600: #2d2e3c;
  --colour-neutral-700: #252837;
  --colour-neutral-800: #1c1d2c;

  // Typography
  --font-family-sans: 'Zalando Sans', sans-serif;
  --font-family-serif: 'Libre Caslon Text', serif;

  --font-size-10: #{rem(10px)};
  --font-size-12: #{rem(12px)};
  --font-size-14: #{rem(14px)};
  --font-size-16: #{rem(16px)};
  --font-size-20: #{rem(20px)};
  --font-size-24: #{rem(24px)};
  --font-size-32: #{rem(32px)};
  --font-size-48: #{rem(48px)};
  --font-size-50: #{rem(50px)};
  --font-size-60: #{rem(60px)};
  --font-size-68: #{rem(68px)};
  --font-size-72: #{rem(72px)};
  --font-size-75: #{rem(75px)};
  --font-size-78: #{rem(78px)};
  --font-size-106: #{rem(106px)};
  --font-size-118: #{rem(118px)};
  --font-size-168: #{rem(168px)};

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --line-height-90: 90%;
  --line-height-100: 100%;
  --line-height-110: 110%;
  --line-height-112: 112%;
  --line-height-120: 120%;
  --line-height-121: 121%;
  --line-height-123: 123%;
  --line-height-125: 125%;
  --line-height-130: 130%;
  --line-height-131: 131%;
  --line-height-135: 135%;
  --line-height-136: 136%;
  --line-height-140: 140%;
  --line-height-150: 150%;
  --line-height-160: 160%;

  --letter-spacing--1-2: #{em(-1.2%)};
  --letter-spacing-0: #{em(0%)};
  --letter-spacing-1: #{em(1%)};
  --letter-spacing-1-5: #{em(1.5%)};
  --letter-spacing-1-6: #{em(1.6%)};
  --letter-spacing-2: #{em(2%)};
  --letter-spacing-3: #{em(3%)};

  // Borders
  --border-width-s: 1px;
  --border-width-m: 2px;
  --border-width-l: 3px;

  --border-radius-s: 8px;
  --border-radius-m: 16px;
  --border-radius-l: 24px;
  --border-radius-xl: 32px;
  --border-radius-2xl: 56px;

  // Spacing
  --spacing-3xs: #{rem(4px)};
  --spacing-2xs: #{rem(6px)};
  --spacing-xs: #{rem(8px)};
  --spacing-s: #{rem(10px)};
  --spacing-m: #{rem(16px)};
  --spacing-l: #{rem(20px)};
  --spacing-xl: #{rem(24px)};
  --spacing-2xl: #{responsive(rem(28px), rem(32px))};
  --spacing-3xl: #{responsive(rem(32px), rem(40px))};
  --spacing-4xl: #{responsive(rem(40px), rem(56px))};
  --spacing-5xl: #{responsive(rem(48px), rem(64px))};
  --spacing-6xl: #{responsive(rem(56px), rem(80px))};
  --spacing-7xl: #{responsive(rem(72px), rem(104px))};
  --spacing-8xl: #{responsive(rem(88px), rem(120px))};
  --spacing-9xl: #{responsive(rem(96px), rem(128px))};
  --spacing-10xl: #{responsive(rem(120px), rem(160px))};

  --spacing-xs-3xl: #{responsive(rem(8px), rem(40px))};
  --spacing-xs-5xl: #{responsive(rem(8px), rem(64px))};
  --spacing-xs-6xl: #{responsive(rem(8px), rem(80px))};
  --spacing-xs-8xl: #{responsive(rem(8px), rem(120px))};
  --spacing-m-xl: #{responsive(rem(16px), rem(24px))};
  --spacing-m-3xl: #{responsive(rem(16px), rem(40px))};
  --spacing-m-4xl: #{responsive(rem(16px), rem(56px))};
  --spacing-xl-4xl: #{responsive(rem(24px), rem(56px))};
  --spacing-2xl-7xl: #{responsive(rem(28px), rem(104px))};
  --spacing-3xl-4xl: #{responsive(rem(32px), rem(56px))};
  --spacing-4xl-5xl: #{responsive(rem(40px), rem(64px))};
  --spacing-4xl-6xl: #{responsive(rem(40px), rem(80px))};
  --spacing-5xl-7xl: #{responsive(rem(64px), rem(104px))};
}
