@use 'functions' as *;

:root {
  // Colours
  --colour-primary: var(--colour-sky-blue-500);
  --colour-secondary: var(--colour-blue-grey-500);
  --colour-tertiary: var(--colour-slate-500);
  --colour-accent: var(--colour-green-500);

  --colour-surface-base: var(--colour-neutral-800);
  --colour-surface-50: var(--colour-neutral-700);
  --colour-surface-100: var(--colour-neutral-600);
  --colour-surface-200: var(--colour-neutral-500);

  --colour-divider-primary: var(--colour-neutral-500);

  --colour-border-primary: var(--colour-neutral-500);
  --colour-border-contrast: var(--colour-neutral-100);

  --colour-text-primary: var(--colour-neutral-300);
  --colour-text-secondary: var(--colour-neutral-200);
  --colour-text-muted: var(--colour-neutral-400);
  --colour-text-contrast: var(--colour-neutral-100);

  --colour-text-on-primary: var(--colour-neutral-800);
  --colour-text-on-secondary: var(--colour-neutral-800);
  --colour-text-on-tertiary: var(--colour-neutral-100);
  --colour-text-on-accent: var(--colour-neutral-800);

  --colour-text-on-light-100: var(--colour-neutral-800);
  --colour-text-on-light-90: var(--colour-neutral-600);
  --colour-text-on-dark-30: var(--colour-neutral-300);
  --colour-text-on-dark-10: var(--colour-neutral-100);

  // Typography
  --font-family-base: var(--font-family-sans);
  --font-family-display: var(--font-family-serif);

  // Box Shadows
  --shadow-subtle: 1px -1px 12px 0
    color-mix(in srgb, var(--colour-slate) 25%, transparent);

  // Spacing
  --spacing-container: #{fluid(var(--spacing-m), var(--spacing-5xl))};
  --spacing-section: #{fluid(var(--spacing-4xl), var(--spacing-6xl))};

  // Transitions
  --transition-duration-default: 0.6s;
  --transition-duration-l: 1s;

  --transition-ease-default: cubic-bezier(0.135, 0.9, 0.15, 1);
}
