@use 'sass:map';
@use 'functions' as *;
@use '../vars' as *;

$type: (
  body: (
    weight: var(--font-weight-regular),
    size: var(--font-size-m),
    // line-height: fluid(
    //     map.get($line-height, '9xl'),
    //     map.get($line-height, '8xl')
    //   ),
    line-height: map.get($line-height, '8xl'),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-m),
  ),
  body-medium: (
    weight: var(--font-weight-medium),
    size: var(--font-size-m),
    // line-height: fluid(
    //     map.get($line-height, '9xl'),
    //     map.get($line-height, '8xl')
    //   ),
    line-height: map.get($line-height, '8xl'),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-m),
  ),
  body-italic: (
    weight: var(--font-weight-regular),
    size: var(--font-size-m),
    // line-height: fluid(
    //     map.get($line-height, '9xl'),
    //     map.get($line-height, '8xl')
    //   ),
    line-height: map.get($line-height, '8xl'),
    family: var(--font-family-base),
    style: italic,
    letter-spacing: var(--letter-spacing-m),
  ),
  caption: (
    weight: var(--font-weight-medium),
    size: var(--font-size-m),
    line-height: var(--line-height-8xl),
    family: var(--font-family-base),
    // letter-spacing: fluid(
    //     map.get($letter-spacing, 'm'),
    //     map.get($letter-spacing, 'l')
    //   ),
    letter-spacing: map.get($letter-spacing, 'l'),
  ),
  action: (
    weight: var(--font-weight-semibold),
    size: var(--font-size-m),
    line-height: var(--line-height-8xl),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-3xl),
  ),
  meta-primary: (
    weight: var(--font-weight-medium),
    size: var(--font-size-s),
    line-height: var(--line-height-8xl),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-m),
  ),
  meta-secondary: (
    weight: var(--font-weight-medium),
    size: fluid(map.get($font-size, 'xs'), map.get($font-size, '2xs')),
    // line-height: fluid(
    //     map.get($line-height, '7xl'),
    //     map.get($line-height, '3xl')
    //   ),
    line-height: map.get($line-height, '3xl'),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-m),
  ),
  h1: (
    weight: var(--font-weight-black),
    size: fluid(map.get($font-size, '4xl'), map.get($font-size, '7xl')),
    // line-height: fluid(map.get($line-height, 's'), map.get($line-height, 'xs')),
    line-height: map.get($line-height, 'xs'),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-m),
  ),
  h2: (
    weight: var(--font-weight-medium),
    size: fluid(map.get($font-size, '2xl'), map.get($font-size, '3xl')),
    // line-height: fluid(map.get($line-height, 'm'), map.get($line-height, '2xs')),
    line-height: map.get($line-height, '2xs'),
    family: var(--font-family-base),
    // letter-spacing: fluid(
    //     map.get($letter-spacing, 'm'),
    //     map.get($letter-spacing, 's')
    //   ),
    letter-spacing: map.get($letter-spacing, 's'),
  ),
  h2-italic: (
    weight: var(--font-weight-medium),
    size: fluid(map.get($font-size, '2xl'), map.get($font-size, '3xl')),
    // line-height: fluid(map.get($line-height, 'm'), map.get($line-height, '2xs')),
    line-height: map.get($line-height, '2xs'),
    family: var(--font-family-base),
    style: italic,
    // letter-spacing: fluid(
    //     map.get($letter-spacing, 'm'),
    //     map.get($letter-spacing, 's')
    //   ),
    letter-spacing: map.get($letter-spacing, 's'),
  ),
  h3: (
    weight: var(--font-weight-medium),
    size: fluid(map.get($font-size, 'xl'), map.get($font-size, '2xl')),
    // line-height: fluid(map.get($line-height, '2xl'), map.get($line-height, 'm')),
    line-height: map.get($line-height, 'm'),
    family: var(--font-family-base),
    // letter-spacing: fluid(
    //     map.get($letter-spacing, 'm'),
    //     map.get($letter-spacing, '4xl')
    //   ),
    letter-spacing: map.get($letter-spacing, '4xl'),
  ),
  h4: (
    weight: var(--font-weight-medium),
    size: var(--font-size-l),
    line-height: var(--line-height-5xl),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-4xl),
  ),
  link-md: (
    weight: var(--font-weight-medium),
    size: var(--font-size-m),
    line-height: var(--line-height-8xl),
    family: var(--font-family-base),
    // letter-spacing: fluid(
    //     map.get($letter-spacing, 'm'),
    //     map.get($letter-spacing, 'l')
    //   ),
    letter-spacing: map.get($letter-spacing, 'l'),
  ),
  link-lg: (
    weight: var(--font-weight-medium),
    size: var(--font-size-xl),
    line-height: var(--line-height-m),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-m),
  ),
  display-numeral-xl: (
    weight: var(--font-weight-bold),
    size: fluid(map.get($font-size, '9xl'), map.get($font-size, '10xl')),
    line-height: map.get($line-height, '3xl'),
    family: var(--font-family-display),
    letter-spacing: var(--letter-spacing-m),
  ),
  display-numeral-m: (
    weight: var(--font-weight-medium),
    size: fluid(map.get($font-size, '4xl'), map.get($font-size, '5xl')),
    // line-height: fluid(
    //     map.get($line-height, 'xs'),
    //     map.get($line-height, '2xs')
    //   ),
    line-height: map.get($line-height, '2xs'),
    family: var(--font-family-base),
    // letter-spacing: fluid(
    //     map.get($letter-spacing, '2xl'),
    //     map.get($letter-spacing, '3xl')
    //   ),
    letter-spacing: map.get($letter-spacing, '3xl'),
  ),
  display-expressive-xl: (
    weight: var(--font-weight-semibold),
    size: fluid(map.get($font-size, '8xl'), map.get($font-size, '12xl')),
    // line-height: fluid(
    //     map.get($line-height, '4xl'),
    //     map.get($line-height, '5xl')
    //   ),
    line-height: map.get($line-height, '5xl'),
    family: var(--font-family-base),
    // letter-spacing: fluid(
    //     map.get($letter-spacing, '2xl'),
    //     map.get($letter-spacing, '3xl')
    //   ),
    letter-spacing: map.get($letter-spacing, '3xl'),
  ),
  footer-brand-display: (
    weight: var(--font-weight-black),
    size: fluid(map.get($font-size, '6xl'), map.get($font-size, '11xl')),
    // line-height: fluid(map.get($line-height, 'l'), map.get($line-height, '2xs')),
    line-height: map.get($line-height, '2xs'),
    family: var(--font-family-base),
    // letter-spacing: fluid(
    //     map.get($letter-spacing, 'xl'),
    //     map.get($letter-spacing, 's')
    //   ),
    letter-spacing: map.get($letter-spacing, 's'),
  ),
  footer-legal: (
    weight: var(--font-weight-regular),
    size: fluid(map.get($font-size, '2xs'), map.get($font-size, 's')),
    // line-height: fluid(map.get($line-height, '3xl'), map.get($line-height, 'm')),
    line-height: map.get($line-height, 'm'),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-m),
  ),
);

:root {
  // Typography
  @each $key, $value in $type {
    $font-style: normal;

    @if map.has-key($value, style) {
      $font-style: map.get($value, style);
    }

    --font-family-#{$key}: #{map.get($value, family)};
    --font-weight-#{$key}: #{map.get($value, weight)};
    --font-style-#{$key}: #{$font-style};
    --font-size-#{$key}: #{map.get($value, size)};
    --line-height-#{$key}: #{map.get($value, line-height)};
    --letter-spacing-#{$key}: #{map.get($value, letter-spacing)};
  }
}
