@use 'sass:map';
@use 'functions' as *;

$type-styles: (
  body: (
    weight: var(--font-weight-regular),
    size: var(--font-size-16),
    line-height: responsive(var(--line-height-160), var(--line-height-150)),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-0),
  ),
  body-medium: (
    weight: var(--font-weight-medium),
    size: var(--font-size-16),
    line-height: responsive(var(--line-height-160), var(--line-height-150)),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-0),
  ),
  body-italic: (
    weight: var(--font-weight-regular),
    size: var(--font-size-16),
    line-height: responsive(var(--line-height-160), var(--line-height-150)),
    family: var(--font-family-base),
    style: italic,
    letter-spacing: var(--letter-spacing-0),
  ),
  caption: (
    weight: var(--font-weight-medium),
    size: var(--font-size-16),
    line-height: var(--line-height-150),
    family: var(--font-family-base),
    letter-spacing: responsive(var(--letter-spacing-0), var(--letter-spacing-1)),
  ),
  action: (
    weight: var(--font-weight-semibold),
    size: var(--font-size-16),
    line-height: var(--line-height-150),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-2),
  ),
  meta-primary: (
    weight: var(--font-weight-medium),
    size: var(--font-size-14),
    line-height: var(--line-height-150),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-0),
  ),
  meta-secondary: (
    weight: var(--font-weight-medium),
    size: responsive(var(--font-size-12), var(--font-size-10)),
    line-height: responsive(var(--line-height-140), var(--line-height-130)),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-0),
  ),
  h1: (
    weight: var(--font-weight-black),
    size: responsive(var(--font-size-50), var(--font-size-72)),
    line-height: responsive(var(--line-height-112), var(--line-height-110)),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-0),
  ),
  h2: (
    weight: var(--font-weight-medium),
    size: responsive(var(--font-size-32), var(--font-size-48)),
    line-height: responsive(var(--line-height-120), var(--line-height-100)),
    family: var(--font-family-base),
    letter-spacing: responsive(
        var(--letter-spacing-0),
        var(--letter-spacing--1-2)
      ),
  ),
  h2-italic: (
    weight: var(--font-weight-medium),
    size: responsive(var(--font-size-32), var(--font-size-48)),
    line-height: responsive(var(--line-height-120), var(--line-height-100)),
    family: var(--font-family-base),
    style: italic,
    letter-spacing: responsive(
        var(--letter-spacing-0),
        var(--letter-spacing--1-2)
      ),
  ),
  h3: (
    weight: var(--font-weight-medium),
    size: responsive(var(--font-size-24), var(--font-size-32)),
    line-height: responsive(var(--line-height-125), var(--line-height-120)),
    family: var(--font-family-base),
    letter-spacing: responsive(var(--letter-spacing-0), var(--letter-spacing-3)),
  ),
  h4: (
    weight: var(--font-weight-medium),
    size: var(--font-size-20),
    line-height: var(--line-height-135),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-3),
  ),
  link-md: (
    weight: var(--font-weight-medium),
    size: var(--font-size-16),
    line-height: var(--line-height-150),
    family: var(--font-family-base),
    letter-spacing: responsive(var(--letter-spacing-0), var(--letter-spacing-1)),
  ),
  link-lg: (
    weight: var(--font-weight-medium),
    size: var(--font-size-24),
    line-height: var(--line-height-120),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-0),
  ),
  display-numeral-xl: (
    weight: var(--font-weight-bold),
    size: responsive(var(--font-size-78), var(--font-size-106)),
    line-height: var(--line-height-display-numeral-xl),
    family: var(--font-family-display),
    letter-spacing: var(--letter-spacing-0),
  ),
  display-numeral-m: (
    weight: var(--font-weight-medium),
    size: responsive(var(--font-size-50), var(--font-size-60)),
    line-height: responsive(var(--line-height-110), var(--line-height-100)),
    family: var(--font-family-base),
    letter-spacing: responsive(
        var(--letter-spacing-1-6),
        var(--letter-spacing-2)
      ),
  ),
  display-expressive-xl: (
    weight: var(--font-weight-semibold),
    size: responsive(var(--font-size-75), var(--font-size-168)),
    line-height: responsive(var(--line-height-131), var(--line-height-135)),
    family: var(--font-family-base),
    letter-spacing: responsive(
        var(--letter-spacing-1-6),
        var(--letter-spacing-2)
      ),
  ),
  footer-brand-display: (
    weight: var(--font-weight-black),
    size: responsive(var(--font-size-68), var(--font-size-118)),
    line-height: responsive(var(--line-height-121), var(--line-height-100)),
    family: var(--font-family-base),
    letter-spacing: responsive(
        var(--letter-spacing-1-5),
        var(--letter-spacing--1-2)
      ),
  ),
  footer-legal: (
    weight: var(--font-weight-regular),
    size: responsive(var(--font-size-10), var(--font-size-14)),
    line-height: responsive(var(--line-height-130), var(--line-height-120)),
    family: var(--font-family-base),
    letter-spacing: var(--letter-spacing-0),
  ),
);

:root {
  // Typography
  @each $name, $style in $type-styles {
    $font-style: normal;

    @if map.has-key($style, style) {
      $font-style: map.get($style, style);
    }

    --font-#{$name}: #{font(
        map.get($style, weight),
        map.get($style, size),
        map.get($style, line-height),
        map.get($style, family),
        $font-style
      )};
    --letter-spacing-#{$name}: #{map.get($style, letter-spacing)};
  }

  --line-height-display-numeral-xl: var(
    --line-height-90
  ); // needed for something specific
}
