---
import PricingCards from '@/components/ui/PricingCards/PricingCards.astro'
---

<header id="pricing" class="section container">
  <div class="header">
    <p class="caption">Pricing</p>
    <h1 class="title h2">Affordable web design for small businesses</h1>
  </div>

  <PricingCards cardHeadingTag="h2" fullWidth />
</header>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  #pricing {
    display: grid;
    gap: var(--spacing-3xl);
  }

  .title {
    max-width: rem(567px);
  }
</style>
