---
import Eyebrow from '@/components/ui/Eyebrow.astro'
import { Image } from 'astro:assets'

const images = new Array(5).fill(null).flatMap(() => [
  {
    src: import('@/assets/images/about-1.jpg'),
  },
  {
    src: import('@/assets/images/about-2.jpg'),
  },
  {
    src: import('@/assets/images/about-3.jpg'),
  },
  {
    src: import('@/assets/images/about-4.jpg'),
  },
  {
    src: import('@/assets/images/about-5.jpg'),
  },
])
---

<section class="section">
  <div class="container">
    <div class="header">
      <h1>
        <Eyebrow>About us</Eyebrow>
      </h1>

      <p class="h1">Hi, nice to meet you!</p>
    </div>
  </div>

  <div class="wheel-track">
    <div class="wheel" style={{ '--total-items': `${images.length}` }}>
      {
        images.map((image, index) => {
          return (
            <div
              class="wheel-item"
              style={{
                '--index': `${index}`,
              }}
            >
              <Image src={image.src} alt="" class="image" loading="eager" />
            </div>
          )
        })
      }
    </div>
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .section {
    display: grid;
    gap: var(--spacing-7xl);
    overflow: hidden;
  }

  .header {
    display: grid;
    gap: var(--spacing-2xs);
    text-align: center;
  }

  .wheel-track {
    height: 303px;
    position: relative;
  }

  .wheel {
    --max-items: -1;
    --items: clamp(var(--total-items), var(--total-items), var(--max-items));

    --radius: 60vw;
    --translateX: -50%;
    --translateY: calc(var(--image-height) / -2);

    --item-gap: calc(360deg / var(--items));

    --image-height: #{linear(160px, 303px)};

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(var(--translateX)) translateY(var(--translateY))
      rotateZ(0deg);

    z-index: -1;

    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);

    // animation: spin 5s linear infinite;
  }

  .wheel-item {
    --index: 0;

    --left: calc(50% + 50% * sin(var(--index) * var(--item-gap)));
    --top: calc(50% + 50% * cos(var(--index) * var(--item-gap)));
    --rotation: calc(var(--index) * var(--item-gap) * -1);

    position: absolute;

    left: var(--left);
    top: var(--top);
    transform: translateX(-50%) translateY(-50%) rotateZ(var(--rotation));

    height: var(--image-height);
    aspect-ratio: 295/303;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-m);
  }

  @keyframes spin {
    0% {
      transform: translateX(var(--translateX)) translateY(var(--translateY))
        rotateZ(0deg);
    }

    100% {
      transform: translateX(var(--translateX)) translateY(var(--translateY))
        rotateZ(360deg);
    }
  }
</style>

<script>
  import gsap from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'

  gsap.registerPlugin(ScrollTrigger)

  const wheel = document.querySelector<HTMLElement>('.wheel')!
  const images = document.querySelectorAll('.image')

  const center = wheel.offsetWidth / 2
  const radius = wheel.offsetWidth / 2
  const slice = 360 / images.length
  const DEG2RAD = Math.PI / 180

  for (let i = 0; i < images.length; i++) {
    const angle = i * slice

    const x = radius * Math.sin(angle * DEG2RAD)
    const y = center + radius * Math.cos(angle * DEG2RAD)
    const rotation = -i * slice

    const image = images[i]

    // gsap.set(image, {
    //   x,
    //   y,
    //   rotation,
    //   // xPercent: -50,
    //   yPercent: -50,
    //   zIndex: images.length - i,
    // })
  }
</script>
