---
import Button from '@/components/ui/Button.astro'
import BlogPostGrid from '@/components/ui/BlogPostGrid.astro'
import { url } from '@/lib/url'
import type { CollectionEntry } from 'astro:content'
import SectionHeader from '@/components/ui/SectionHeader.astro'

type Props = {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<section id="blog" class="container section">
  <div class="intro">
    <SectionHeader eyebrow="Blog" class="header">
      What have we been writing about recently?
    </SectionHeader>

    <Button variant="secondary-outline" href={url('/blog/')} arrow>
      Explore the Blog
    </Button>
  </div>

  <BlogPostGrid posts={posts} blogPostHeadingLevel={3} />
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  #blog {
    display: grid;
    gap: var(--spacing-4xl);
  }

  .intro {
    display: grid;
    gap: var(--spacing-xl);
    justify-items: start;
  }

  .header {
    max-width: rem(535px);
  }

  @media screen and (min-width: rem(1024px)) {
    .intro {
      grid-template-columns: 1fr auto;
      justify-content: space-between;
      align-items: end;
    }
  }
</style>
