---
import BlogPostCard from '@/components/ui/BlogPostCard.astro'
import Button from '@/components/ui/Button.astro'
import SectionHeader from '@/components/ui/SectionHeader.astro'
import { cn } from '@/lib/class-names'
import { url } from '@/lib/url'
import type { CollectionEntry } from 'astro:content'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'section'> & {
  posts: CollectionEntry<'blog'>[]
}

const { posts, class: className, ...props } = Astro.props
---

<section class:list={cn('blog-showcase-grid container section', className)} {...props}>
  <div class="intro">
    <SectionHeader eyebrow="Blog" class="header">
      What have we been writing about recently?
    </SectionHeader>

    <Button variant="secondary-outline" href={url('/blog/')} arrow>
      Explore the Blog
    </Button>
  </div>

  <div class="posts">
    {
      posts.map((post) => (
        <BlogPostCard
          post={post}
          level={3}
          thumbnailWidths={[216, 343, 432, 520, 708, 832, 1416]}
          thumbnailSizes="(min-width: 48rem) min(30vw, 416px), 100vw"
        />
      ))
    }
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .blog-showcase-grid {
    display: grid;
    gap: var(--spacing-4xl);
  }

  .intro {
    display: grid;
    gap: var(--spacing-xl);
    justify-items: start;
  }

  .header {
    max-width: rem(535px);
  }

  .posts {
    display: grid;
    gap: var(--spacing-2xl);
  }

  @media screen and (min-width: rem(768px)) {
    .posts {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--spacing-2xl);
      align-items: start;
    }
  }

  @media screen and (min-width: rem(1024px)) {
    .intro {
      grid-template-columns: 1fr auto;
      justify-content: space-between;
      align-items: end;
    }
  }
</style>
