---
import Button from '@/components/ui/Button.astro'
import { cn } from '@/lib/class-names'
import { url } from '@/lib/url'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'section'> & {
  heading?: string
  links?: ('explore-project-planner' | 'start-your-project' | 'get-in-touch')[]
}

const {
  heading = 'Start a project',
  links = ['explore-project-planner'],
  class: className,
  ...props
} = Astro.props
---

<section class:list={cn('section container', className)} {...props}>
  <div class="card">
    <div class="left">
      <h2 class="h2">{heading}</h2>

      <div class="links">
        {
          links.map((link) =>
            link === 'explore-project-planner' ? (
              <Button href={url('/project-planner/')} arrow>
                <span class="button-text-s">Project planner</span>
                <span class="button-text-l">Explore project planner</span>
              </Button>
            ) : link === 'start-your-project' ? (
              <Button href={url('/project-planner/')} arrow>
                Start your project
              </Button>
            ) : (
              <Button href={url('/contact/')} variant="secondary-outline" arrow>
                Get in touch
              </Button>
            ),
          )
        }
      </div>
    </div>

    <div class="right">
      <div class="content">
        <slot>
          <p>
            If you already know what you need and you’re ready to dive in, our
            project planner is the best place to start. It’s a more structured
            way to share your details so we can hit the ground running.
          </p>
        </slot>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .card {
    background-color: var(--colour-surface-100);
    padding: var(--spacing-4xl-5xl) var(--spacing-2xl-7xl);
    border-radius: var(--border-radius-m);
    display: grid;
    gap: var(--spacing-3xl);
  }

  .left {
    display: grid;
    gap: var(--spacing-xl-4xl);
    justify-items: center;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-l);
    flex-wrap: wrap;
  }

  .button-text-l {
    display: none;
  }

  @media screen and (min-width: rem(350px)) {
    .links {
      justify-content: start;
    }

    .button-text-s {
      display: none;
    }

    .button-text-l {
      display: initial;
    }
  }

  @media screen and (min-width: rem(701px)) {
    .card {
      max-width: rem(1120px);
      margin-inline: auto;
      padding: var(--spacing-4xl-5xl) var(--spacing-2xl-7xl);
      border-radius: var(--border-radius-l);
      grid-template-columns: repeat(2, auto);
      align-items: center;
      gap: var(--spacing-7xl);
    }

    .left {
      justify-items: start;
    }

    .content {
      max-width: rem(402px);
    }
  }
</style>
