---
import Button from '@/components/ui/Button.astro'
import ContactForm from '@/components/ui/ContactForm.astro'
import { cn } from '@/lib/class-names'
import { url } from '@/lib/url'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'section'> & {
  heading?: string
  headingUnderline?: boolean
  reversed?: boolean
}

const {
  heading,
  headingUnderline,
  reversed,
  class: className,
  ...props
} = Astro.props
---

<section
  class:list={cn('section container', className)}
  data-reversed={reversed || undefined}
  {...props}
>
  <div class="content-wrapper">
    <header class="header">
      <h2 class="h2">
        {
          heading ?? (
            <>
              <span class="h2-italic">Still</span> have a question?
            </>
          )
        }
      </h2>
      {headingUnderline && <hr class="heading-underline" />}
    </header>

    <div class="content">
      <p>
        <slot>
          Okay, not a problem! For general enquires just reach out using this
          form and we’ll get back to you as soon as possible. If you're ready
          with your project details, feel free to explore our project planner
          for a clearer, more structured process.
        </slot>
      </p>

      <div class="email-link-wrapper">
        <p>Hate contact forms?</p>

        <a
          href="mailto:hello@venturewebsolutions.co.uk"
          class="email-link underline"
        >
          hello@venturewebsolutions.co.uk
        </a>
      </div>

      <Button href={url('/project-planner/')} arrow>
        Explore project planner
      </Button>
    </div>
  </div>

  <ContactForm class="form" />
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .section {
    display: grid;
    gap: var(--spacing-5xl);
  }

  .header {
    display: grid;
    gap: var(--spacing-xs);
  }

  .heading-underline {
    border-top-width: 1px;
    max-width: rem(88px);
  }

  .content-wrapper {
    display: grid;
    gap: var(--spacing-m);
  }

  .content {
    display: grid;
    gap: var(--spacing-xl);
    justify-items: start;
  }

  .email-link-wrapper {
    display: flex;
    gap: var(--spacing-m);
    align-items: baseline;
    flex-wrap: wrap;
  }

  .email-link {
    @include font(link-md);
    color: var(--colour-text-contrast);
  }

  @media screen and (min-width: rem(1200px)) {
    .section {
      grid-template-columns: minmax(0, rem(502px)) minmax(0, rem(679px));
      justify-content: space-between;
      align-items: start;

      &[data-reversed] {
        grid-template-columns: minmax(0, rem(679px)) minmax(0, rem(502px));

        .form {
          order: -1;
        }
      }
    }
  }
</style>
