---
import Button from '@/components/ui/Button.astro'
import FAQList, { type FAQ } from '@/components/ui/FAQList.astro'
import { url } from '@/lib/url'
import SectionHeader from '@/components/ui/SectionHeader.astro'

type Props = {
  faqs: FAQ[]
  reversed?: true
}

const { faqs, reversed } = Astro.props
---

<section
  id="faq"
  class="section container"
  data-reversed={reversed || undefined}
>
  <div class="left">
    <SectionHeader eyebrow="FAQs">Have questions?</SectionHeader>

    <p>
      We’ve got answers! Dive into our FAQ to discover how our web design
      services work and what we can create for you. Wondering about something
      specific? Check below — and if it’s not there, just reach out!.
    </p>

    <Button variant="secondary-outline" href={url('/faq/')} arrow>
      Check all FAQs
    </Button>
  </div>

  <div class="right">
    <FAQList faqs={faqs} />
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  #faq {
    display: grid;
    gap: var(--spacing-5xl);
  }

  .left {
    display: grid;
    justify-items: start;
    gap: var(--spacing-xl);
  }

  @media screen and (min-width: rem(1024px)) {
    #faq {
      grid-template-columns: repeat(2, auto);
      gap: var(--spacing-4xl);
      justify-content: space-between;
      align-items: start;

      &[data-reversed] > .left {
        order: 1;
      }
    }

    .left {
      max-width: rem(456px);
    }

    .right {
      max-width: rem(737px);
    }
  }
</style>
