---
import FAQList, { type FAQ } from '@/components/ui/FAQList.astro'
import SectionHeader from '@/components/ui/SectionHeader.astro'

export type FAQGroup = {
  heading: string
  faqs: FAQ[]
}

type Props = {
  groups: FAQGroup[]
}

const { groups } = Astro.props
---

<div id="faq" class="container section">
  <div class="left">
    <SectionHeader eyebrow="FAQs" level={1}>
      The not-so-boring FAQ
    </SectionHeader>

    <p>
      Got questions? We’ve got answers! Dive into our FAQ to discover how our
      web design services work and what we can create for you. Wondering about
      something specific? Check below — and if it’s not there, just reach out!.
    </p>
  </div>

  <div class="right">
    <div class="faq-groups">
      {
        groups.map((group) => (
          <section class="faq-group">
            <h2 class="faq-group-heading">{group.heading}</h2>

            <FAQList faqs={group.faqs} />
          </section>
        ))
      }
    </div>
  </div>
</div>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  #faq {
    display: grid;
    gap: var(--spacing-5xl);
  }

  .left {
    display: grid;
    justify-items: start;
    gap: var(--spacing-xl);
  }

  .faq-groups {
    display: grid;
    gap: var(--spacing-2xl);
  }

  .faq-group {
    display: grid;
    gap: var(--spacing-xl);
  }

  .faq-group-heading {
    @include font-h3;
    color: var(--colour-text-contrast);
  }

  @media screen and (min-width: rem(1024px)) {
    #faq {
      grid-template-columns: repeat(2, auto);
      gap: var(--spacing-4xl);
      justify-content: space-between;
      align-items: start;
    }

    .left {
      max-width: rem(456px);
    }

    .right {
      max-width: rem(737px);
    }

    .faq-groups {
      gap: var(--spacing-4xl);
    }
  }
</style>
