---
import Video from '@/components/headless/Video.astro'
import Button from '@/components/ui/Button.astro'
import Eyebrow from '@/components/ui/Eyebrow.astro'
import Squiggle from '@/components/ui/Squiggle.astro'
import { url } from '@/lib/url'
import { Image } from 'astro:assets'
---

<section id="hero">
  <div class="hero-background">
    <Image
      src={import('@/assets/images/hero.png')}
      alt=""
      widths={[
        400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600,
        2800,
      ]}
      sizes="100vw"
      class="hero-image"
      loading="eager"
    />

    <Video
      src={import('@/assets/videos/hero.mp4')}
      lazy
      autoplay
      muted
      loop
      class="hero-video"
    />
  </div>

  <div class="hero-content section container">
    <Eyebrow>Hi, we’re Venture Web Solutions 👋</Eyebrow>

    <h1 class="title h1">
      A web
      <span class="title-highlight">design agency</span>
      for small,
      <span class="squiggle-container">
        <span>ambitious</span>
        <span class="squiggle">
          <Squiggle />
        </span>
      </span> businesses
    </h1>
    <p class="subtitle">
      We build fast, great-looking websites with affordable pricing, 24/7
      support, and unlimited edits.
    </p>
    <div class="buttons">
      <Button variant="secondary" href={url('/work/')} arrow>
        See our work
      </Button>
      <Button variant="secondary-outline" href={url('/contact/')} arrow>
        Get in touch
      </Button>
    </div>
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  #hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(
      0deg,
      color-mix(in srgb, var(--colour-surface-base) 75%, transparent),
      color-mix(in srgb, var(--colour-surface-base) 75%, transparent)
    );
  }

  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        color-mix(in srgb, var(--colour-surface-base) 0%, transparent),
        color-mix(in srgb, var(--colour-surface-base) 100%, transparent)
      );
    }
  }

  .hero-image {
    position: absolute;
    inset: 0;
    object-fit: cover;
  }

  .hero-video {
    position: absolute;
    inset: 0;
    object-fit: cover;

    &:not([data-loaded]) {
      display: none;
    }
  }

  .hero-content {
    display: grid;
  }

  .title {
    max-width: #{em(745px, 72px)};
    margin-top: var(--spacing-xl);
  }

  .title-highlight {
    color: var(--colour-primary);
  }

  .subtitle {
    max-width: #{em(419px, 16px)};
    margin-inline: auto;
    margin-top: var(--spacing-xl);
  }

  .squiggle-container {
    position: relative;
  }

  .squiggle {
    position: absolute;
    bottom: -0.15em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    pointer-events: none;
    color: var(--colour-primary);
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
    margin-top: var(--spacing-4xl);
  }
</style>
