---
import Image from '@/components/headless/Image.astro'
import Video from '@/components/headless/Video.astro'
import Button from '@/components/ui/Button.astro'
import Eyebrow from '@/components/ui/Eyebrow.astro'
import Squiggle from '@/components/ui/Squiggle.astro'
import { cn } from '@/lib/class-names'
import { url } from '@/lib/url'
import type { HTMLAttributes } from 'astro/types'
import ImageSource from '../headless/ImageSource.astro'

type Props = HTMLAttributes<'section'>

const { class: className, ...props } = Astro.props
---

<section class:list={cn('section', className)} {...props}>
  <div class="background">
    <picture>
      <ImageSource
        src={import('@/assets/images/hero-landscape.jpg')}
        widths={{
          min: 320,
          max: 2560,
          mobile: 412,
          desktop: 1440,
          step: 400,
        }}
        sizes="100vw"
        media="(orientation: landscape)"
      />

      <Image
        src={import('@/assets/images/hero-portrait.jpg')}
        alt=""
        widths={{
          min: 320,
          max: 1440,
          mobile: 412,
          desktop: 1440,
          step: 400,
        }}
        sizes="100vw"
        loading="eager"
        class="image"
      />
    </picture>

    <Video
      sources={[
        {
          src: url('/videos/hero-1080p.mp4'),
          media: '(min-width: 1080px)',
        },
        {
          src: url('/videos/hero-720p.mp4'),
          media: '(min-width: 720px)',
        },
        { src: url('/videos/hero-480p.mp4') },
      ]}
      lazy
      autoplay
      playsinline
      muted
      loop
      class="video"
    />
  </div>

  <div class="container">
    <Eyebrow>
      Hi, we’re Venture Web Solutions <span class="hand">👋</span>
    </Eyebrow>

    <h1 class="title h1">
      A web
      <span class="title-highlight">design agency</span>
      for small,
      <span class="squiggle-container">
        <span>ambitious</span>
        <span class="squiggle">
          <Squiggle animate />
        </span>
      </span> businesses
    </h1>
    <p class="subtitle">
      We build fast, great-looking websites with affordable pricing, 24/7
      support, and unlimited edits.
    </p>
    <div class="buttons">
      <Button
        variant="primary"
        href={url('/project-planner/')}
        arrow
        class="button"
      >
        Start a project
      </Button>
      <Button
        variant="secondary-outline"
        href={url('/work/')}
        arrow
        class="button"
      >
        See our work
      </Button>
    </div>
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(
      0deg,
      color-mix(in srgb, var(--colour-surface-base) 75%, transparent),
      color-mix(in srgb, var(--colour-surface-base) 75%, transparent)
    );
  }

  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        color-mix(in srgb, var(--colour-surface-base) 0%, transparent),
        color-mix(in srgb, var(--colour-surface-base) 100%, transparent)
      );
    }
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container {
    display: grid;
  }

  .hand {
    --max-rotation: 28deg;
    --max-scale: 1.3;

    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 5s linear 0.8s 1;
  }

  @keyframes wave {
    0% {
      animation-timing-function: ease-in;
      transform: rotate(0deg) scale(1) translateY(-2px);
    }
    3% {
      animation-timing-function: ease-in-out;
      transform: rotate(var(--max-rotation)) scale(var(--max-scale))
        translateY(-2px);
    }
    6% {
      animation-timing-function: ease-in-out;
      transform: rotate(calc(var(--max-rotation) * -8 / 14))
        scale(var(--max-scale)) translateY(-2px);
    }
    9% {
      animation-timing-function: ease-in-out;
      transform: rotate(var(--max-rotation)) scale(var(--max-scale))
        translateY(-2px);
    }
    12% {
      animation-timing-function: ease-in-out;
      transform: rotate(calc(var(--max-rotation) * -4 / 14))
        scale(var(--max-scale)) translateY(-2px);
    }
    15% {
      animation-timing-function: ease-out;
      transform: rotate(calc(var(--max-rotation) * 10 / 14))
        scale(var(--max-scale)) translateY(-2px);
    }
    20% {
      transform: rotate(0deg) scale(1);
    }
  }

  .title {
    max-width: #{em(745px, 72px)};
    margin-top: var(--spacing-xl);
  }

  .title-highlight {
    color: var(--colour-primary);
  }

  .subtitle {
    max-width: #{em(419px, 16px)};
    margin-inline: auto;
    margin-top: var(--spacing-xl);
  }

  .squiggle-container {
    position: relative;
  }

  .squiggle {
    position: absolute;
    bottom: -0.15em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    pointer-events: none;
    color: var(--colour-primary);
  }

  .buttons {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);
    margin-top: var(--spacing-4xl);
  }

  .button {
    width: 14rem;
  }

  @media screen and (min-width: rem(506px)) {
    .buttons {
      grid-template-columns: repeat(2, auto);
      gap: #{fluid(var(--spacing-m), var(--spacing-xl))};
    }

    .button {
      width: auto;
    }
  }
</style>
