---
import Image from '@/components/headless/Image.astro'
import Quote from '@/components/ui/Quote.astro'
import SectionHeader from '@/components/ui/SectionHeader.astro'
import { cn } from '@/lib/class-names'
import type { HTMLAttributes } from 'astro/types'
import Link from '../ui/Link.astro'

type Props = HTMLAttributes<'section'>

const { class: className, ...props } = Astro.props
---

<section class:list={cn('section container', className)} {...props}>
  <SectionHeader eyebrow="Performance" class="header">
    Unparalleled performance with hand-coded websites
  </SectionHeader>

  <Image
    src={import('@/assets/images/performance-screenshot.png')}
    alt="Screenshot of Google PageSpeed Insights showing a perfect score of 100 for both mobile and desktop performance"
    class="image"
    widths={{
      min: 288,
      max: 686,
      mobile: 378,
      desktop: 615,
    }}
    sizes={['(min-width: 90rem) 40.5rem', '(min-width: 48rem) 50vw', '100vw']}
  />

  <div class="content">
    <p>
      We say no to WordPress and page builders, and so should you!. They’re
      slow, clunky, and poorly optimised, and that could be costing you
      customers.
    </p>

    <Quote
      citation="Google"
      url="https://support.google.com/adsense/answer/7450973"
    >
      53% of visits are likely to be abandoned if pages take longer than 3
      seconds to load.
    </Quote>

    <p>
      A slow site doesn’t just frustrate visitors — it hurts your business.
      That’s why we hand-code all of our websites from scratch — every last
      line! This way, we don’t drag your site down with bloated code designed
      for millions of people. Instead, our sites are written just for you, so we
      can get as close to Google’s 100/100 PageSpeed Insights scores as humanly
      possible, ensuring you never lose a customer due to a slow website, and
      helping you rank higher in Google’s search results.
    </p>

    <div class="footer">
      <p>Don’t believe us?</p>
      <Link
        href="https://pagespeed.web.dev/report?url=venturewebsolutions.co.uk&form_factor=desktop"
        target="_blank"
        variant="md"
        underline
        class="link"
      >
        See for yourself!
      </Link>
    </div>
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .section {
    display: grid;
    grid-template-areas:
      'header'
      'image'
      'content';
    align-items: start;
    justify-content: space-between;
    gap: var(--spacing-2xl);
  }

  .header {
    grid-area: header;
    max-width: #{rem(571px)};
  }

  .image {
    grid-area: image;
    border-radius: var(--border-radius-l);
  }

  .content {
    grid-area: content;
    display: grid;
    gap: var(--spacing-2xl);
  }

  .footer {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
  }

  .link {
    color: var(--colour-text-contrast);
  }

  @media screen and (min-width: rem(768px)) {
    .section {
      grid-template-columns: minmax(0, rem(648px)) minmax(0, rem(571px));
      grid-template-areas:
        'image header'
        'image content';
    }

    .image {
      position: sticky;
      top: var(--spacing-2xl);
    }
  }

  @media screen and (min-width: rem(1267px)) {
    .section {
      align-items: center;
    }

    .image {
      position: static;
    }
  }
</style>
