---
import FactoryIcon from '@/components/icons/FactoryIcon.astro'
import LaptopIcon from '@/components/icons/LaptopIcon.astro'
import RocketIcon from '@/components/icons/RocketIcon.astro'
import ProjectCard from '@/components/ui/ProjectCard.astro'
import SectionHeader from '@/components/ui/SectionHeader.astro'
import { cn } from '@/lib/class-names'
import { icon } from '@/lib/resolvers'
import { url } from '@/lib/url'
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'

type Props = HTMLAttributes<'section'> & {
  projects: CollectionEntry<'work'>[]
}

const { projects: work, class: className, ...props } = Astro.props

const projects = [
  ...work.map((project) => ({
    theme: project.data.theme,
    client: project.data.client,
    heading: project.data.heading,
    summary: project.data.summary,
    highlights: project.data.highlights.map((highlight) => ({
      icon: icon(highlight.icon),
      text: highlight.text,
    })),
    link: { href: url(`/work/${project.id}/`), text: 'View project' },
    image: {
      src: project.data.thumbnail.src,
      alt: '',
      widths: [288, 318, 450, 645].flatMap((width) => [width, width * 2]),
      sizes: '(min-width: 1440px) 609px, (min-width: 768px) 50vw, 100vw',
    },
  })),
  {
    client: 'Your business',
    heading: 'Ready to get started?',
    summary:
      'Do you like what you see? Are you ready to take your business online, refresh your website, or simply explore some ideas? Whether you’re just starting out or looking to make a meaningful change, we’d love to hear from you. Let’s chat about what you’re looking for, what could work for your business, and how we can bring your ideas to life — no pressure, no sales pitch, just a conversation to get things moving in the right direction.',
    highlights: [
      {
        icon: FactoryIcon,
        text: 'Industry expertise',
      },
      {
        icon: LaptopIcon,
        text: 'Custom design & hand-coded website',
      },
      {
        icon: RocketIcon,
        text: 'Tailored services to fit your needs',
      },
    ],
    link: {
      href: url('/project-planner/'),
      text: 'Get started',
    },
    image: {
      src: import('@/assets/images/project-showcase-empty.png'),
      alt: '',
      widths: [288, 318, 450, 645].flatMap((width) => [width, width * 2]),
      sizes: '(min-width: 1440px) 609px, (min-width: 768px) 50vw, 100vw',
    },
  },
]
---

<section
  data-project-showcase
  class:list={cn('section container', className)}
  {...props}
>
  <SectionHeader eyebrow="Portfolio" level={1} class="section-header">
    What we’ve been working on
  </SectionHeader>

  <div class="projects">
    {
      projects.map((project) => (
        <div class="card-wrapper">
          <ProjectCard {...project} level={2} data-project-card />
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .section {
    display: grid;
    gap: var(--spacing-4xl);
  }

  .projects {
    display: grid;
    gap: var(--spacing-4xl);
  }
</style>
