---
import Stepper from '@/components/headless/Stepper/Stepper.astro'
import StepperCounter from '@/components/headless/Stepper/StepperCounter.astro'
import Video from '@/components/headless/Video.astro'
import Button from '@/components/ui/Button.astro'
import InputField from '@/components/ui/InputField.astro'
import ProgressBar from '@/components/ui/ProgressBar.astro'
import SelectField from '@/components/ui/SelectField.astro'
import TextareaField from '@/components/ui/TextareaField.astro'
---

<section class="section container">
  <div class="video-wrapper">
    <Video
      src={import('@/assets/videos/project-planner.mp4')}
      autoplay
      muted
      loop
      class="video"
    />

    <p class="video-caption">Jordan and Daniela, the humans behind the brand</p>
  </div>

  <Stepper class="stepper">
    <form action="#" method="post" class="content">
      <div class="step-info">
        <ProgressBar class="progress-bar" />

        <p class="step-info-text">
          Step <StepperCounter />/3
        </p>
      </div>

      <div class="step" data-step data-current-step>
        <div class="step-header">
          <h1 class="h3">Your new venture starts here</h1>

          <p>
            Share a few details below and we’ll take it from there — you’ll
            usually hear back from us within 24 hours. See you soon!
          </p>
        </div>

        <div class="step-form">
          <InputField
            id="project-planner-name-input"
            name="name"
            type="text"
            required
            placeholder="Name*"
            autocomplete="name"
          />

          <InputField
            id="project-planner-email-input"
            name="email"
            type="email"
            required
            placeholder="Email Address*"
            autocomplete="email"
          />

          <InputField
            id="project-planner-phone-number-input"
            name="phone-number"
            type="tel"
            placeholder="Phone Number"
            autocomplete="tel"
          />

          <InputField
            id="project-planner-business-name-input"
            name="business-name"
            type="text"
            placeholder="Business Name"
            autocomplete="organization"
          />
        </div>
      </div>

      <div class="step" data-step>
        <div class="step-header">
          <p class="h3">Tell us about your project</p>

          <p>
            Share a few details about your project, goals, and timeline. Feel
            free to include as much detail as possible to help us better
            understand your needs.
          </p>
        </div>

        <div class="step-form">
          <TextareaField
            id="project-planner-details-input"
            name="details"
            required
            placeholder="Please provide information about your project"
          />
        </div>
      </div>

      <div class="step" data-step>
        <div class="step-header">
          <p class="h3">How should we reach you?</p>

          <p>
            Let us know how you’d prefer to be contacted. Choose email, phone,
            or either — whatever works best for you.
          </p>
        </div>

        <div class="step-form">
          <SelectField
            id="project-planner-preferred-contact-method-input"
            name="preferred-contact-method"
            required
            placeholder="Preferred Contact Method*"
            options={[
              { value: 'email', text: 'Email' },
              { value: 'phone', text: 'Phone' },
              { value: 'either', text: 'Either' },
            ]}
          />

          <p>
            We’ll only use this info to understand your project — no spam, ever.
          </p>
        </div>
      </div>

      <div class="buttons">
        <Button
          type="button"
          variant="ghost"
          class="previous-step-button"
          data-previous-step
        >
          Back
        </Button>

        <Button type="button" class="next-step-button" data-next-step>
          Next step
        </Button>

        <Button type="submit" class="submit-button">Submit enquiry</Button>
      </div>
    </form>
  </Stepper>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .section {
    display: grid;
    align-items: center;
    row-gap: var(--spacing-5xl);
  }

  .video-wrapper {
    border-radius: var(--border-radius-l);
    overflow: hidden;
    position: relative;
    order: 1;
  }

  @media screen and (min-width: rem(768px)) {
    .section {
      grid-template-columns: repeat(2, auto);
      column-gap: var(--spacing-5xl);
    }

    .video-wrapper {
      max-width: 453px;
      order: unset;
    }
  }

  .video {
    aspect-ratio: 453/760;
    object-fit: cover;
  }

  .video-caption {
    @include font(body-medium);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--colour-text-contrast);
    padding: var(--spacing-s) var(--spacing-2xl);
    background-color: color-mix(
      in srgb,
      var(--colour-surface-base) 75%,
      transparent
    );
    text-align: center;
  }

  .stepper {
    max-width: rem(648px);
  }

  .content {
    display: grid;
    gap: var(--spacing-3xl);
  }

  .step-info {
    display: grid;
    gap: var(--spacing-m);
  }

  .progress-bar {
    --progress: calc(var(--stepper-current-step) / 3);
  }

  .step-info-text {
    @include font(body-medium);
    color: var(--colour-text-contrast);
  }

  .step {
    display: grid;
    gap: var(--spacing-2xl);
  }

  .step-header {
    display: grid;
    gap: var(--spacing-m);
  }

  .step-form {
    display: grid;
    gap: var(--spacing-m);
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: var(--spacing-m);
  }

  .stepper[data-current-step="1"] {
    .previous-step-button {
      display: none;
    }
  }

  .stepper[data-current-step="3"] {
    .next-step-button {
      display: none;
    }
  }

  .stepper:not([data-current-step="3"]) {
    .submit-button {
      display: none;
    }
  }

  .step:not([data-current-step]) {
    display: none;
  }
</style>
