---
import Stepper from '@/components/headless/Stepper/Stepper.astro'
import StepperCounter from '@/components/headless/Stepper/StepperCounter.astro'
import Button from '@/components/ui/Button.astro'
import InputField from '@/components/ui/InputField.astro'
import ProgressBar from '@/components/ui/ProgressBar.astro'
import SelectField from '@/components/ui/SelectField.astro'
import TextareaField from '@/components/ui/TextareaField.astro'
import { cn } from '@/lib/class-names'
import type { HTMLAttributes } from 'astro/types'
import ImageSource from '../headless/ImageSource.astro'
import EmptyImage from '../headless/EmptyImage.astro'

type Props = HTMLAttributes<'section'>

const { class: className, ...props } = Astro.props
---

<section class:list={cn('section container', className)} {...props}>
  <div class="image-wrapper">
    <picture class="image">
      <ImageSource
        src={import('@/assets/images/project-planner.jpg')}
        widths={{
          min: 270,
          max: 453,
          desktop: 453,
        }}
        sizes="(min-width: 90rem) 28.3125rem, (min-width: 48rem) 42vw"
        media="(min-width: 48rem)"
      />

      <EmptyImage alt="" loading="eager" />
    </picture>

    <p class="image-caption">Jordan and Daniela, the humans behind the brand</p>
  </div>

  <Stepper class="stepper">
    <form action="#" method="post" class="content">
      <div class="step-info">
        <ProgressBar class="progress-bar" />

        <p class="step-info-text">
          Step <StepperCounter />/2
        </p>
      </div>

      <div class="step" data-step data-current-step>
        <div class="step-header">
          <h1 class="h3">Your new venture starts here</h1>

          <p>
            Share a few details below and we’ll take it from there — you’ll
            usually hear back from us within 24 hours. Speak soon!
          </p>
        </div>

        <div class="step-form">
          <InputField
            id="project-planner-name-input"
            name="name"
            type="text"
            required
            label="Your name"
            autocomplete="name"
          />

          <InputField
            id="project-planner-email-input"
            name="email"
            type="email"
            required
            label="Email address"
            autocomplete="email"
          />

          <InputField
            id="project-planner-phone-number-input"
            name="phone-number"
            type="tel"
            label="Phone number"
            autocomplete="tel"
          />

          <SelectField
            id="project-planner-preferred-contact-method-input"
            name="preferred-contact-method"
            label="Preferred contact method"
            placeholder="No preference"
            helper="We’ll only use this info to understand your project — no spam, ever."
            options={[
              { value: 'any', text: 'No preference' },
              { value: 'email', text: 'Email' },
              { value: 'phone', text: 'Phone' },
            ]}
          />
        </div>
      </div>

      <div class="step" data-step>
        <div class="step-header">
          <p class="h3">Tell us about your project</p>
        </div>

        <div class="step-form">
          <InputField
            id="project-planner-business-name-input"
            name="business-name"
            type="text"
            label="Business name"
            required
            autocomplete="organization"
          />

          <InputField
            id="project-planner-business-website"
            name="business-website"
            type="text"
            label="Business website"
            placeholder="e.g. company.co.uk"
            helper="If you don't currently have a website, you can skip this field."
            autocomplete="url"
          />

          <TextareaField
            id="project-planner-details-input"
            name="details"
            required
            label="Project details"
            placeholder="Please provide a summary of your project"
          />
        </div>
      </div>

      <div class="buttons">
        <Button
          type="button"
          variant="ghost"
          class="previous-step-button"
          data-previous-step
        >
          Back
        </Button>

        <Button type="button" class="next-step-button" data-next-step>
          Next step
        </Button>

        <Button type="submit" class="submit-button">Start your project</Button>
      </div>
    </form>
  </Stepper>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .section {
    display: grid;
    align-items: center;
    row-gap: var(--spacing-5xl);
  }

  .image-wrapper {
    display: none;
  }

  .stepper {
    max-width: rem(648px);
  }

  .content {
    display: grid;
    gap: var(--spacing-3xl);
  }

  .step-info {
    display: grid;
    gap: var(--spacing-m);
  }

  .progress-bar {
    --progress: calc(var(--stepper-current-step) / 2);
  }

  .step-info-text {
    @include font(body-medium);
    color: var(--colour-text-contrast);
  }

  .step {
    display: grid;
    gap: var(--spacing-2xl);
  }

  .step-header {
    display: grid;
    gap: var(--spacing-m);
  }

  .step-form {
    display: grid;
    gap: var(--spacing-xl);
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: var(--spacing-m);
  }

  .stepper[data-current-step='1'] {
    .previous-step-button {
      display: none;
    }
  }

  .stepper[data-current-step='2'] {
    .next-step-button {
      display: none;
    }
  }

  .stepper:not([data-current-step='2']) {
    .submit-button {
      display: none;
    }
  }

  .step:not([data-current-step]) {
    display: none;
  }

  @media screen and (min-width: rem(768px)) {
    .section {
      grid-template-columns: 453fr 648fr;
      column-gap: var(--spacing-5xl);
    }

    .image-wrapper {
      display: block;
      max-width: 453px;
      border-radius: var(--border-radius-l);
      overflow: hidden;
      position: relative;
    }

    .image {
      aspect-ratio: 453/760;
      object-fit: cover;
    }

    .image-caption {
      @include font(body-medium);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: var(--colour-text-contrast);
      padding: var(--spacing-s) var(--spacing-2xl);
      background-color: color-mix(
        in srgb,
        var(--colour-surface-base) 75%,
        transparent
      );
      text-align: center;
    }
  }
</style>
