---
import NavigationButton from '@/components/ui/NavigationButton.astro'
import SectionHeader from '@/components/ui/SectionHeader.astro'
import TestimonialCard from '@/components/ui/TestimonialCard.astro'

const testimonial = {
  client: 'Maggi Maid',
  video: {
    src: import('@/assets/videos/testimonial-video-maggi-maid.mp4'),
    type: 'video/mp4',
  },
  thumbnail: import('@/assets/images/testimonial-thumbnail-maggi-maid.png'),
  avatar: import('@/assets/images/maggi-maid-avatar.png'),
  author: {
    name: 'Margaret W.',
    position: 'Maggi Maid founder',
  },
  quote:
    'Venture Web Solutions was incredible from start to finish. They turned our messy ideas into a clean, professional site that fits our brand perfectly.',
}

const testimonials = [...new Array(5).fill(null).map(() => testimonial)]
---

<section id="testimonials" class="section container">
  <SectionHeader eyebrow="Client testimonials">
    Voice of our happy clients
  </SectionHeader>

  <div class="swiper">
    <div class="swiper-wrapper">
      {
        testimonials.map((testimonial) => (
          <div class="swiper-slide">
            <TestimonialCard {...testimonial} />
          </div>
        ))
      }
    </div>
  </div>

  <div class="navigation">
    <NavigationButton dir="left" class="swiper-button-prev" />
    <div class="swiper-pagination"></div>
    <NavigationButton dir="right" class="swiper-button-next" />
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  #testimonials {
    display: grid;
    gap: var(--spacing-2xl);
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }
</style>

<script>
  import 'swiper/css'
  import Swiper from 'swiper/bundle'
  import { Navigation, Pagination } from 'swiper/modules'

  // Swiper
  window.addEventListener('load', () => {
    new Swiper('#testimonials .swiper', {
      modules: [Navigation, Pagination],

      slidesPerView: 1,
      spaceBetween: 32,

      breakpoints: {
        1024: {
          slidesPerView: 3,
          spaceBetween: 32,
        },
      },

      navigation: {
        nextEl: '#testimonials .swiper-button-next',
        prevEl: '#testimonials .swiper-button-prev',
      },

      pagination: {
        el: '#testimonials .swiper-pagination',
      },
    })
  })
</script>
