---
import NavigationButton from '@/components/ui/NavigationButton.astro'
import SectionHeader from '@/components/ui/SectionHeader.astro'
import TestimonialCard from '@/components/ui/TestimonialCard.astro'
import { cn } from '@/lib/class-names'
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'

type Props = HTMLAttributes<'section'> & {
  testimonials: CollectionEntry<'testimonials'>[]
}

const { testimonials, class: className, ...props } = Astro.props
---

<section
  id="testimonials"
  class:list={cn('section container', className)}
  {...props}
>
  <SectionHeader eyebrow="Client testimonials">
    Voice of our happy clients
  </SectionHeader>

  <div class="swiper">
    <div class="swiper-wrapper">
      {
        testimonials.map((testimonial) => (
          <div class="swiper-slide">
            <TestimonialCard testimonial={testimonial} />
          </div>
        ))
      }
    </div>
  </div>

  <div class="navigation">
    <NavigationButton dir="left" class="swiper-button-prev" />
    <div class="swiper-pagination"></div>
    <NavigationButton dir="right" class="swiper-button-next" />
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  #testimonials {
    display: grid;
    gap: var(--spacing-2xl);
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }
</style>

<script>
  import 'swiper/css'
  import Swiper from 'swiper/bundle'
  import { Navigation, Pagination } from 'swiper/modules'

  // Swiper
  window.addEventListener('load', () => {
    new Swiper('#testimonials .swiper', {
      modules: [Navigation, Pagination],

      slidesPerView: 1,
      spaceBetween: 32,

      breakpoints: {
        1024: {
          slidesPerView: 3,
          spaceBetween: 32,
        },
      },

      navigation: {
        nextEl: '#testimonials .swiper-button-next',
        prevEl: '#testimonials .swiper-button-prev',
      },

      pagination: {
        el: '#testimonials .swiper-pagination',
      },
    })
  })
</script>
