---
import ConfirmUserIcon from '@/components/icons/ConfirmUserIcon.astro'
import CycleIcon from '@/components/icons/CycleIcon.astro'
import EditUserIcon from '@/components/icons/EditUserIcon.astro'
import SectionHeader from '@/components/ui/SectionHeader.astro'
import BenefitCard from '@/components/ui/BenefitCard.astro'
import { cn } from '@/lib/class-names'
import type { HTMLAttributes } from 'astro/types'

const cards = [
  {
    icon: EditUserIcon,
    heading: 'Unlimited edits',
    paragraph:
      "Don't worry about making small tweaks to your website — we don't charge a penny. Want to update your opening hours, swap out an image, or update the copy? Just send us a message and we'll get it done, pronto!",
  },
  {
    icon: CycleIcon,
    heading: 'Lifetime updates',
    paragraph:
      "Times change, and so do design trends. We'll keep your website looking fresh with a free design update every 3 years. We won't let your website fall behind!",
  },
  {
    icon: ConfirmUserIcon,
    heading: '24/7 support',
    paragraph:
      "Call us, text us, or email us any time. We're on your side so we're happy to help. And yes, that includes evenings and weekends!",
  },
]

type Props = HTMLAttributes<'section'>

const { class: className, ...props } = Astro.props
---

<section class:list={cn('section container', className)} {...props}>
  <SectionHeader eyebrow="What we offer" class="header">
    Professional websites, £100 per month
  </SectionHeader>

  <div class="cards">
    {
      cards.map(({ icon, heading, paragraph }) => (
        <BenefitCard heading={heading} icon={icon}>
          {paragraph}
        </BenefitCard>
      ))
    }
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .header {
    max-width: #{rem(534px)};
  }

  .cards {
    display: grid;
    gap: var(--spacing-2xl);
    margin-top: var(--spacing-2xl);

    @media screen and (min-width: rem(1024px)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
