---
import BlogPostGrid from '@/components/ui/BlogPostGrid/BlogPostGrid.astro'
import Layout from '@/layouts/Layout.astro'
import { getBlogPosts } from '@/lib/collections'
import { url } from '@/lib/url'

const posts = (await getBlogPosts()).slice(0, 3).map((post) => ({
  title: post.data.title,
  topic: post.data.topic,
  url: url(`/blog/posts/${post.id}/`),
  thumbnail: post.data.thumbnail,
  author: post.data.author,
  readTimeMinutes: post.data.readTimeMinutes,
}))
---

<Layout title="Blog (TODO)" description="TODO">
  <div class="container section">
    <div class="header">
      <h1 class="h2">Blog</h1>
      <p class="subheading">
        Here’s where we keep all our little secrets about web design,
        development, and related topics — tips, tricks, and things we wish we
        knew sooner!
      </p>
    </div>

    <BlogPostGrid posts={posts} blogPostTitleTag="h2" />
  </div>
</Layout>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .container {
    display: grid;
    gap: var(--spacing-2xl);
  }

  .header {
    gap: var(--spacing-m);
  }

  .subheading {
    max-width: rem(648px);
  }
</style>
