---
import NavigationButton from '@/components/NavigationButton/NavigationButton.astro'

const steps = [
  {
    heading: 'Discovery & Planning',
    text: 'We’ll have a chat about your business, your goals with the website, and make sure we can help you achieve them. If everyone’s happy, we’ll send over a contract so we can get started!',
  },
  {
    heading: 'Design',
    text: 'We’ll work with you to design something that suits your tastes and your business needs. Don’t worry, we’ll even write the content for you. We’ll make sure you’re totally happy with the design before we start building the site, and if we can’t design something you like, we’ll even give you your money back and cancel the contract. How about that!',
  },
  {
    heading: 'Development & Launch',
    text: 'Finally, we’ll get to work on writing the code and building your site, line-by-line. When it’s done, we’ll show you a preview version and make sure you’re happy before putting it live for all the world to see!',
  },
  {
    heading: 'Celebrate',
    text: 'Congratulations, you’ve now got a professional website. Time to celebrate!',
  },
  {
    heading: 'Support',
    text: 'You haven’t seen the end of us yet. We’re always here when you need us. We pride ourselves on this, so please rest assured that you can always contact us for anything you need.',
  },
]
---

<section id="how-it-works" class="section container">
  <div class="intro">
    <header class="header">
      <p class="caption">Steps</p>
      <h2 class="h2">How it works</h2>
    </header>
    <p>It’s simple (we promise)!</p>
  </div>

  <div class="steps swiper">
    <div class="swiper-wrapper">
      {
        steps.map((step, i) => (
          <div class="swiper-slide">
            <section class="step">
              <div class="step-surface">
                <p class="step-number">
                  <span class="swiper-no-swiping">{i + 1}</span>
                </p>
                <h3 class="step-title">
                  <span class="swiper-no-swiping">{step.heading}</span>
                </h3>
                <p class="step-content">
                  <span class="swiper-no-swiping">{step.text}</span>
                </p>
              </div>
            </section>
          </div>
        ))
      }
    </div>
  </div>

  <div class="navigation">
    <NavigationButton dir="left" class="swiper-button-prev" />
    <NavigationButton dir="right" class="swiper-button-next" />
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  #how-it-works {
    display: grid;
    gap: var(--spacing-2xl);
    grid-template-areas:
      'intro'
      'steps'
      'navigation';
  }

  .intro {
    grid-area: intro;
    display: grid;
    gap: var(--spacing-m);
  }

  .swiper {
    max-width: 100%;
  }

  .steps {
    grid-area: steps;
  }

  .step {
    --padding-block: var(--spacing-s);

    @include font-display-numeral-xl;

    --negative-margin: calc(
      1em * calc(var(--line-height-display-numeral-xl) / 100%) / 2
    );

    padding-top: calc(var(--negative-margin) + var(--padding-block));
    padding-bottom: var(--padding-block);
    height: 100%;
  }

  .step-surface {
    @include font-body;

    background-color: var(--colour-surface-100);
    border-radius: var(--border-radius-m);
    display: grid;
    gap: var(--spacing-m);
    align-content: start;
    padding-inline: var(--spacing-2xl);
    padding-bottom: var(--spacing-6xl);
    height: 100%;
  }

  .step-number {
    @include font-display-numeral-xl;
    color: var(--colour-text-contrast);
    text-align: center;
    margin-top: calc(-1 * var(--negative-margin));
  }

  .step-title {
    @include font-h4;
    color: var(--colour-text-contrast);
    text-align: center;
  }

  .navigation {
    grid-area: navigation;
    display: flex;
    gap: var(--spacing-xl);

    :global(.swiper-pagination-bullet-active) {
      opacity: 1;
    }

    :global(.swiper-button-disabled) {
      opacity: 0.4;
      cursor: default;
    }
  }

  @media screen and (min-width: rem(1024px)) {
    #how-it-works {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'intro steps steps'
        'navigation steps steps';
    }

    .intro {
      align-self: start;
    }

    .navigation {
      align-self: end;
    }
  }
</style>

<script>
  import 'swiper/css'
  import Swiper from 'swiper/bundle'
  import { Navigation, Pagination } from 'swiper/modules'

  window.addEventListener('load', () => {
    new Swiper('#how-it-works .swiper', {
      modules: [Navigation, Pagination],

      slidesPerView: 1,
      spaceBetween: 32,

      breakpoints: {
        1024: {
          slidesPerView: 2,
          spaceBetween: 32,
        },
      },

      navigation: {
        nextEl: '#how-it-works .swiper-button-next',
        prevEl: '#how-it-works .swiper-button-prev',
      },
    })
  })
</script>
