@use 'functions' as *;
@use 'mixins' as *;

:root {
  --nav-padding-top: var(--spacing-xl);
  --nav-padding-bottom: var(--spacing-xl);
  --nav-border-width: var(--border-width-s);
  --nav-logo-height: #{responsive(rem(25px), rem(49px))};

  --nav-height: calc(
    var(--nav-padding-top) + var(--nav-padding-bottom) +
      var(--nav-border-width) + var(--nav-logo-height)
  );

  --nav-offset-top: var(--spacing-s);
}

body {
  @include font(body);
  background-color: var(--colour-surface-base);
  color: var(--colour-text-primary);
}

svg[data-icon] {
  width: var(--size, rem(24px));
  height: var(--size, rem(24px));
}
