@use 'sass:math';
@use 'mixins' as *;

.container {
  max-width: 90rem;
  padding-inline: var(--spacing-container);
  margin-inline: auto;
}

.section {
  padding-block: var(--spacing-section);
}

.h2 {
  @include font-h2;
  color: var(--colour-text-contrast);
}

.h2-italic {
  @include font-h2-italic;
  color: var(--colour-text-contrast);
}
