---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/class-names'

type Props = HTMLAttributes<'div'>

const { class: className, ...props } = Astro.props
---

<div {...props} class:list={cn('swiper-wrapper', className)}>
  <slot />
</div>
