---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/class-names'
import type { SwiperOptions } from 'swiper/types'

type Props = HTMLAttributes<'div'> & {
  options: Omit<SwiperOptions, 'modules'>
}

const { class: className, options, ...props } = Astro.props
---

<div
  {...props}
  class:list={cn('swiper', className)}
  data-options={JSON.stringify(options)}
  data-swiper-component
>
  <slot />
</div>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .swiper {
    max-width: 100%;
  }
</style>

<script>
  import 'swiper/css'
  import Swiper from 'swiper/bundle'
  import { Navigation, Pagination } from 'swiper/modules'
  import type { SwiperModule, SwiperOptions } from 'swiper/types'

  window.addEventListener('load', () => {
    const swipers = document.querySelectorAll<HTMLDivElement>(
      '.swiper[data-swiper-component]',
    )

    for (const swiper of swipers) {
      const options = JSON.parse(swiper.dataset.options!) as Omit<
        SwiperOptions,
        'modules'
      >

      const modules: SwiperModule[] = []

      if (options.navigation) {
        modules.push(Navigation)
      }

      if (options.pagination) {
        modules.push(Pagination)
      }

      new Swiper(swiper, {
        modules,
        ...options,
      })
    }
  })
</script>
