---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/class-names'

type Props = HTMLAttributes<'div'>

const { class: className, ...props } = Astro.props
---

<div {...props} class:list={cn('disclosure', className)}>
  <slot />
</div>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .disclosure {
    overflow: hidden;
  }
</style>

<script>
  const disclosures = document.querySelectorAll<HTMLDivElement>('.disclosure')

  for (const disclosure of disclosures) {
    const trigger = disclosure.querySelector<HTMLButtonElement>(
      '.disclosure-trigger',
    )!
    const panel = disclosure.querySelector<HTMLDivElement>('.disclosure-panel')!

    trigger.addEventListener('click', () => {
      panel.style.height = `${panel.scrollHeight}px`

      setTimeout(() => {
        if (disclosure.hasAttribute('data-expanded')) {
          panel.style.height = '0'
        }

        disclosure.toggleAttribute('data-expanded')
      }, 0)
    })

    panel.addEventListener('transitionend', (event) => {
      if (event.propertyName === 'height') {
        const target = event.target as HTMLElement

        if (target.style.height !== '0px') {
          panel.style.height = 'auto'
        }
      }
    })
  }
</script>
