---
import PricingCards from '@/components/ui/PricingCards/PricingCards.astro'
---

<section id="pricing" class="section container">
  <header class="header">
    <p class="caption">Pricing</p>
    <h2 class="h2">Choose your plan</h2>
  </header>

  <PricingCards cardHeadingTag="h3" />
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  #pricing {
    display: grid;
    gap: var(--spacing-5xl);
  }
</style>
