---
import ConfirmUserIcon from '@/components/icons/ConfirmUserIcon.astro'
import CycleIcon from '@/components/icons/CycleIcon.astro'
import EditUserIcon from '@/components/icons/EditUserIcon.astro'

const cards = [
  {
    icon: EditUserIcon,
    title: 'Unlimited edits',
    paragraph:
      "Don't worry about making small tweaks to your website — we don't charge a penny. Want to update your opening hours, swap out an image, or update the copy? Just send us a message and we'll get it done, pronto!",
  },
  {
    icon: CycleIcon,
    title: 'Lifetime updates',
    paragraph:
      "Times change, and so do design trends. We'll keep your website looking fresh with a free design update every 3 years. We won't let your website fall behind!",
  },
  {
    icon: ConfirmUserIcon,
    title: '24/7 support',
    paragraph:
      "Call us, text us, or email us any time. We're on your side so we're happy to help. And yes, that includes evenings and weekends!",
  },
]
---

<section id="what-we-offer" class="section container">
  <div class="header">
    <p class="caption">What we offer</p>
    <h2 class="title">Professional websites, £100 per month</h2>

    <div class="cards">
      {
        cards.map(({ icon: Icon, title, paragraph }) => (
          <section class="card">
            <div class="card-icon">
              <Icon class="card-icon-bg" />
            </div>
            <h3 class="card-title">{title}</h3>
            <p class="card-paragraph">{paragraph}</p>
          </section>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .header {
    display: grid;
    gap: var(--spacing-xs);
  }

  .title {
    @include font-h2;
    color: var(--colour-text-contrast);
    max-width: #{rem(534px)};
  }

  .cards {
    display: grid;
    gap: var(--spacing-2xl);
    margin-top: var(--spacing-2xl);

    @media screen and (min-width: rem(1024px)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    display: grid;
    gap: var(--spacing-m);
    background-color: var(--colour-surface-100);
    padding: var(--spacing-6xl) var(--spacing-4xl);
    border-radius: var(--border-radius-m);
  }

  .card-icon {
    display: flex;
    justify-content: center;
    color: var(--colour-text-contrast);
  }

  .card-icon-bg {
    fill: var(--colour-surface-base);
  }

  .card-title {
    @include font-h4;
    color: var(--colour-text-contrast);
    text-align: center;
  }
</style>
