---
import type { HTMLAttributes } from 'astro/types'
import RightArrowIcon from '@/components/Icons/RightArrowIcon.astro'
import LeftArrowIcon from '@/components/Icons/LeftArrowIcon.astro'

interface Props extends HTMLAttributes<'button'> {
  dir: 'left' | 'right'
}

const { dir, ...props } = Astro.props
---

<button {...props}>
  {dir === 'left' ? <LeftArrowIcon /> : <RightArrowIcon />}
</button>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  button {
    background-color: var(--colour-surface-100);
    border-radius: 50%;
    padding: rem(14px);
    cursor: pointer;
  }
</style>
