---
import Button from '@/components/ui/Button/Button.astro'
import FAQList, { type FAQ } from '@/components/ui/FAQList/FAQList.astro'
import { url } from '@/lib/url'

type Props = {
  faqs: FAQ[]
}

const { faqs } = Astro.props
---

<section id="faq" class="section container">
  <div>
    <header class="header">
      <p class="caption">FAQs</p>
      <h2 class="h2">Have questions?</h2>
    </header>

    <p class="intro-text">
      We’ve got answers! Dive into our FAQ to discover how our web design
      services work and what we can create for you. Wondering about something
      specific? Check below — and if it’s not there, just reach out!.
    </p>

    <div class="button-wrapper">
      <Button variant="secondary-outline" href={url('/faq/')} arrow>
        Check all FAQs
      </Button>
    </div>
  </div>

  <FAQList faqs={faqs} />
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  #faq {
    display: grid;
    justify-content: space-between;
    gap: var(--spacing-5xl);
  }

  .intro-text {
    margin-top: var(--spacing-m);
  }

  .button-wrapper {
    margin-top: var(--spacing-xl);
  }

  @media screen and (min-width: rem(1024px)) {
    #faq {
      grid-template-columns: minmax(0, rem(456px)) minmax(0, rem(737px));
    }
  }
</style>
