---
import Heading from '@/components/headless/Heading.astro'
import { Icon } from 'astro-icon/components'

type Props = {
  heading: string
  level?: number
  icon: string
}

const { heading, level = 3, icon } = Astro.props
---

<section class="card">
  <div class="card-icon-box">
    <Icon name={icon} class="card-icon" />
  </div>
  <Heading level={level} class="card-heading h4">{heading}</Heading>
  <p><slot /></p>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .card {
    display: grid;
    gap: var(--spacing-m);
    justify-items: center;
    align-content: start;
    background-color: var(--colour-surface-100);
    padding: var(--spacing-6xl) var(--spacing-4xl);
    border-radius: var(--border-radius-m);
  }

  .card-icon-box {
    padding: var(--spacing-m);
    border-radius: var(--border-radius-s);
    background-color: var(--colour-surface-base);
  }

  .card-icon {
    width: rem(20px);
    height: rem(20px);
    color: var(--colour-text-contrast);
    fill: var(--colour-surface-base);
  }

  .card-heading {
    text-align: center;
  }
</style>
