---
import { cn } from '@/lib/class-names'
import type { HTMLAttributes } from 'astro/types'
import { render, type CollectionEntry } from 'astro:content'

type Props = HTMLAttributes<'div'> & {
  post: CollectionEntry<'blog'>
}

const { post, class: className, ...props } = Astro.props
const { Content } = await render(post)
---

<div class:list={cn('body', className)} {...props}>
  <Content />
</div>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .body :global(h2) {
    @include font(h3);
    color: var(--colour-text-contrast);
    margin-bottom: var(--spacing-xl);

    &:not(:first-child) {
      margin-top: var(--spacing-5xl);
    }
  }

  .body :global(p) {
    margin-top: var(--spacing-l);

    display: flex;
    justify-content: space-between;
    gap: var(--spacing-xl);
  }

  .body :global(p img) {
    width: 0;
    flex: 1;
    object-fit: cover;
    border-radius: var(--border-radius-l);
  }
</style>
