---
import type { HTMLAttributes } from 'astro/types'
import Button from '@/components/ui/Button.astro'
import InputField from '@/components/ui/InputField.astro'
import SelectField from '@/components/ui/SelectField.astro'
import TextareaField from '@/components/ui/TextareaField.astro'
import { cn } from '@/lib/class-names'

type Props = HTMLAttributes<'form'>

const { class: className, ...props } = Astro.props
---

<form {...props} class:list={cn('form', className)}>
  <div class="form-fields">
    <InputField
      id="contact-form-name"
      name="name"
      type="text"
      required
      autocomplete="name"
      label="Your Name"
    />

    <InputField
      id="contact-form-email"
      name="email"
      type="email"
      required
      autocomplete="email"
      label="Your Email"
    />

    <InputField
      id="contact-form-phone-number"
      name="phone-number"
      type="tel"
      required
      autocomplete="tel"
      label="Phone Number"
    />

    <SelectField
      id="contact-form-preferred-contact-method"
      name="preferred-contact-method"
      required
      placeholder="Please select an option"
      label="Preferred Contact Method"
      autocomplete="cont"
      options={[
        { value: 'email', text: 'Email' },
        { value: 'phone', text: 'Phone' },
        { value: 'either', text: 'Either' },
      ]}
    />

    <TextareaField
      id="contact-form-message"
      name="message"
      required
      placeholder="How can we help you today?"
      label="Message"
    />
  </div>

  <div class="form-footer">
    <p class="disclaimer">
      By submitting this form I accept the Privacy Policy of this site.
    </p>

    <Button type="submit" variant="form" arrow>Submit form</Button>
  </div>
</form>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .form {
    display: grid;
    gap: var(--spacing-2xl);
  }

  .form-fields {
    display: grid;
    gap: var(--spacing-xl);
  }

  .form-footer {
    display: grid;
    gap: var(--spacing-xl);
    justify-items: start;
  }

  .disclaimer {
    @include font(body-italic);
  }
</style>
