---
import Disclosure from '@/components/headless/Disclosure/Disclosure.astro'
import DisclosurePanel from '@/components/headless/Disclosure/DisclosurePanel.astro'
import DisclosureTrigger from '@/components/headless/Disclosure/DisclosureTrigger.astro'
import Heading from '@/components/headless/Heading.astro'
import { Icon } from 'astro-icon/components'

type Props = {
  question: string
  level: number
}

const { question, level } = Astro.props
---

<section>
  <Disclosure class="faq">
    <Heading level={level}>
      <DisclosureTrigger class="faq-trigger">
        <span class="faq-question">{question}</span>

        <div class="faq-arrow">
          <Icon name="arrow-up-right" class="faq-arrow-icon" />
        </div>
      </DisclosureTrigger>
    </Heading>

    <DisclosurePanel>
      <p class="faq-answer"><slot /></p>
    </DisclosurePanel>
  </Disclosure>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .faq {
    --disclosure-transition-timing-function: var(--transition-ease-default);
    --disclosure-transition-duration: var(--transition-duration-default);

    --padding-block: var(--spacing-m);
    --padding-inline: var(--spacing-xl);

    border-radius: var(--border-radius-m);
    background-color: color-mix(
      in srgb,
      var(--colour-surface-200) 20%,
      transparent
    );
    color: var(--colour-text-contrast);
  }

  .faq-trigger {
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    gap: var(--spacing-s);
  }

  .faq-question {
    @include font(h4);
    text-align: left;
  }

  .faq-arrow {
    --size: #{rem(28px)};
    --icon-size: #{rem(12px)};

    padding: calc((var(--size) - var(--icon-size)) / 2);
    background-color: var(--colour-tertiary);
    color: var(--colour-text-on-tertiary);
    border-radius: 50%;
    transition: transform var(--transition-duration-default)
      var(--transition-ease-default);

    .faq[data-expanded] & {
      transform: rotateZ(180deg);
    }
  }

  .faq-arrow-icon {
    --size: var(--icon-size);
  }

  .faq-answer {
    padding-inline: var(--padding-inline);
    padding-bottom: var(--padding-block);
  }
</style>
