---
type Props = {
  for: string
  required?: boolean
}

const { for: _for, required } = Astro.props
---

<label for={_for} class="form-label">
  <slot />{required && '*'}
</label>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .form-label {
    display: block;
    @include font(body-medium);
    color: var(--colour-text-contrast);
  }
</style>
