---
import type { HTMLAttributes } from 'astro/types'
import { Icon } from 'astro-icon/components'

interface Props extends HTMLAttributes<'button'> {
  dir: 'left' | 'right'
}

const { dir, ...props } = Astro.props
---

<button {...props}>
  {
    dir === 'left' ? (
      <Icon name="arrow-left" class="arrow" />
    ) : (
      <Icon name="arrow-right" class="arrow" />
    )
  }
</button>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  button {
    background-color: var(--colour-surface-100);
    border-radius: 50%;
    padding: rem(14px);
    cursor: pointer;
  }

  .arrow {
    --size: #{rem(18px)};
  }
</style>
