---
import Heading from '@/components/headless/Heading.astro'
import { cn } from '@/lib/class-names'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'section'> & {
  number: number
  heading: string
  level: number
}

const { number, heading, level, class: className, ...props } = Astro.props
---

<section class:list={cn('card', className)} {...props}>
  <div class="surface">
    <p class="number">
      {number}
    </p>
    <Heading level={level} class="heading h4">
      {heading}
    </Heading>
    <p class="content">
      <slot />
    </p>
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .card {
    --padding-block: var(--spacing-s);

    @include font(display-numeral-xl);

    --negative-margin: calc(
      1em * calc(var(--line-height-display-numeral-xl) / 100%) / 2
    );

    padding-top: calc(var(--negative-margin) + var(--padding-block));
    padding-bottom: var(--padding-block);
    height: 100%;
  }

  .surface {
    @include font(body);

    background-color: var(--colour-surface-100);
    border-radius: var(--border-radius-m);
    display: grid;
    gap: var(--spacing-m);
    align-content: start;
    padding-inline: var(--spacing-2xl);
    padding-bottom: var(--spacing-6xl);
    height: 100%;
  }

  .number {
    @include font(display-numeral-xl);
    color: var(--number-colour, var(--colour-text-contrast));
    text-align: center;
    margin-top: calc(-1 * var(--negative-margin));
  }

  .heading {
    text-align: center;
  }
</style>
