---
import Link from './Link.astro'
import type { HTMLAttributes, SvgComponent } from 'astro/types'
import { cn } from '@/lib/class-names'
import SVG from '../headless/SVG.astro'

type Props = HTMLAttributes<'figure'> & {
  citation: string
  url: string
}

const { citation, url, class: className, ...props } = Astro.props
---

<figure class:list={cn('quotation', className)} {...props}>
  <SVG
    src={import('@/assets/images/quotation-mark.svg')}
    class="quotation-mark"
  />

  <div class="quotation-content">
    <blockquote cite={url}>
      <p class="quotation-quote"><slot /></p>
    </blockquote>
    <figcaption class="quotation-caption">
      —
      <cite class="quotation-citation">
        <Link href={url} target="_blank" variant="md" underline>
          {citation}
        </Link>
      </cite>
    </figcaption>
  </div>
</figure>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .quotation {
    display: flex;
    gap: var(--spacing-m);
  }

  .quotation-mark {
    width: rem(42px);
    flex-shrink: 0;
  }

  .quotation-content {
    display: grid;
    gap: var(--spacing-3xs);
  }

  .quotation-quote {
    @include font(body-italic);
  }

  .quotation-caption {
    text-align: right;
  }

  .quotation-citation {
    font-style: inherit;
  }
</style>
