---
import FacebookIcon from '@/components/icons/FacebookIcon.astro'
import InstagramIcon from '@/components/icons/InstagramIcon.astro'
import LinkedInIcon from '@/components/icons/LinkedInIcon.astro'
import UpRightArrowIcon from '@/components/icons/UpRightArrowIcon.astro'

type Props = {
  platform: 'facebook' | 'instagram' | 'linkedin'
  href: string
  'aria-label': string
}

const { platform, ...props } = Astro.props

const icons = {
  facebook: FacebookIcon,
  instagram: InstagramIcon,
  linkedin: LinkedInIcon,
}

const Icon = icons[platform]
---

<a target="_blank" class="social-media-link" {...props}>
  <Icon />
  <UpRightArrowIcon class="arrow" />
</a>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .social-media-link {
    @include font(action);
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-m);
    padding: var(--spacing-2xs) var(--spacing-s);
    border-width: var(--border-width-s);
    border-style: solid;
    border-color: var(--colour-secondary);
    border-radius: var(--border-radius-m);
    background-color: var(--colour-secondary);
    color: var(--colour-text-on-secondary);
  }

  .arrow {
    flex-shrink: 0;
    height: rem(6px);
    width: rem(6px);
  }
</style>
