---
import { Icon } from 'astro-icon/components'

type Props = {
  platform: 'facebook' | 'instagram' | 'linkedin'
  href: string
  'aria-label': string
}

const { platform, ...props } = Astro.props
---

<a target="_blank" class="social-media-link" {...props}>
  <Icon name={platform} class="icon" />
  <Icon name="arrow-up-right" class="arrow" />
</a>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .social-media-link {
    @include font(action);
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-m);
    padding: var(--spacing-2xs) var(--spacing-s);
    border-width: var(--border-width-s);
    border-style: solid;
    border-color: var(--colour-secondary);
    border-radius: var(--border-radius-m);
    background-color: var(--colour-secondary);
    color: var(--colour-text-on-secondary);
  }

  .icon {
    --size: #{rem(12px)};
  }

  .arrow {
    --size: #{rem(12px)};

    flex-shrink: 0;
  }
</style>
