---
import { cn } from '@/lib/class-names'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'div'> & {
  'data-step': number
  'data-steps': number
}

const {
  'data-step': step,
  'data-steps': steps,
  class: className,
  ...props
} = Astro.props
---

<div
  class:list={cn('step-progress-bar', className)}
  data-step={step}
  data-steps={steps}
  {...props}
>
  <div class="filler"></div>
</div>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .step-progress-bar {
    --progress: calc(var(--step) / var(--steps));
    --height: 8px;

    width: 100%;
    height: var(--height);
    background-color: var(--colour-surface-100);
    border-radius: calc(var(--height) / 2);
  }

  .filler {
    width: calc(var(--progress) * 100%);
    height: 100%;
    border-radius: calc(var(--height) / 2);
    background-color: var(--colour-primary);
    transition: width 0.2s linear;
  }
</style>

<script>
  const bars = document.querySelectorAll<HTMLElement>('.step-progress-bar')

  const observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
      if (
        mutation.type === 'attributes' &&
        mutation.attributeName === 'data-step'
      ) {
        const bar = mutation.target as HTMLElement

        bar.style.setProperty('--step', bar.dataset.step!)
      }
    })
  })

  for (const bar of bars) {
    bar.style.setProperty('--step', bar.dataset.step!)
    bar.style.setProperty('--steps', bar.dataset.steps!)

    observer.observe(bar, {
      attributes: true,
      attributeFilter: ['data-step'],
    })
  }
</script>
